html,
body,
#root {
  height: 100%;
  width: 100%;
  opacity: 1;
  background-image: radial-gradient(rgb(100, 100, 100) 0.5px, white 0.5px);
  background-size: 20px 20px;
  z-index: -1;
}

body {
  font-family: system-ui;
  margin: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.top-left {
  z-index: 1000;
  position: absolute;
  width: 20rem;
  left: 10rem;
  top: 15rem;
  background: white;
  box-shadow: black 0px 0px 0px 2px, black 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
}

.bottom-right {
  z-index: 1000;
  position: absolute;
  top: 30rem;
  right: 10rem;
  width: 20rem;
  background: white;
  box-shadow: black 0px 0px 0px 2px, black 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  padding: 20px;
}

.header {
  width: 100%;
  background-color: black;
  margin: 0;
  height: 8rem;
  z-index: 10000;
  display: flex;
  flex-direction: row;
  opacity: 1;
  margin-bottom: 1rem;
}

.header > h3 {
  position: absolute;
  top: 3.5rem;
  margin: 0;
  margin-left: 2vw;
  color: white;
  font-size: 5rem;
}

button {
  background-color: black;
  color: white;
}

.frost {
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  filter: blur(10px);
}

h1,
h2,
h3,
p {
  cursor: default;
}
